/* general */
li{
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 5px;
}


/* box e container size */


.img-top-left{
    width: 15%;
    height: 100%;
}
.main-container{
    position: relative;
}
.box{
    background-color: white;
    position: absolute;
    top: 40px;
    left: 100px;
    height: 600px;
    width: 1200px;
}
.left-box{
    width: 35%;
}
.right-box{
    width: 65%;
}

.left-main{
    height: 20%;
}
.left-footer{
    height: 70%;
}
.right-main{
    height: 80%;
    background-image: url("../img/mine.jpg");
}
.left-main-content-top{
    height: 65%;
}
.left-main-content-bottom{
    height: 35%;
}
.analist{
    min-width: 200px;
    max-height: 100%;
}

.utent, .right-footer, .left-footer{
    width: 100%;
}

.send-message{
    width: 80%;
}

.my-input{
    height: 80%;
    width: 90%;
    padding: 2px;
    margin-top: 1%;
}


/* css background color and general size */


.send{
    background-color: #D5F9BA;
}
.arrivals{
    background-color: white;
}
.active{
    background-color: lightgray;
}
.change-bg:hover{
    background-color: #D8DBD6;
}
.left-main-content-top{
    background-color: #8EDAFC;
}
.main-header-bg{
    background-color: #009688;
    height: 15vh;
}
.left-header, .right-header, .right-footer{
    height: 10%;
    background-color: #EAEAEA;
}
.footer-header-bg{
    background-color: #D8DBD6;
    height: 85vh;
}

/* font weight adn size */
.name-access{
    font-weight: bold;
}
.access{
    font-size: xx-small;
}