*{
    border: 1px solid black;
}
.main-container{
    position: relative;
}
.main-header-bg{
    background-color: #009688;
    height: 15vh;
}
.footer-header-bg{
    background-color: #D8DBD6;
    height: 85vh;
}
.box{
    background-color: white;
    position: absolute;
    top: 40px;
    left: 100px;
    min-height: 600px;
}