<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link -->
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Boolzapp</title>
  </head>
  <body>
    <div id="app">
      <main>
        <div class="main-container">
          <div class="main-header-bg"></div>
          <div class="footer-header-bg"></div>
          <div class="container p-0 box d-flex">
            <div class="left-box">
              <div class="left-header d-flex justify-content-between align-items-center ">
                <div class="img-top-left d-flex align-items-center ">
                  <img src="img/avatar_io.jpg" class="rounded-circle ">
                  <h5 class="m-1 ms-2 ">Sofia</h5>
                </div>
                <div class="nav-item p-3">
                  <i class="fa-solid fa-circle-notch fa-lg m-1" style="color: #b0abbf;"></i>
                  <i class="fa-solid fa-message fa-lg m-1" style="color: #b0abbf;"></i>
                  <i class="fa-solid fa-bars fa-lg m-1" style="color: #b0abbf;"></i>
                </div>
              </div>
              <div class="left-main">
                <div class="left-main-content-top">

                </div>
                <div class="left-main-content-bottom">
                  <div class="input-group flex-nowrap my-input ">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass" style="color: #b0abbf;"></i></span>
                    <input v-model="searchUser" @keyup="searchChat" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
                </div>
              </div>
              <div class="left-footer">
                <div v-for="(elem, index) in contacts">
                <div v-if="elem.visible === true" class="utent d-flex change-bg" :class="counter == index ? 'active' : '' " @click="(addCounter(index))">
                  <div class="img-top-left">
                    <img :src="elem.avatar" class="rounded-circle " alt="">
                  </div>
                  <div class="flex-grow-1 p-2">
                    <p class="name-access">{{elem.name}}</p>
                    <p class="access">ultimo accesso ore 12:00</p>
                  </div>
                  <div>
                    <span class="access">12:00</span>
                  </div>
                </div>
                </div>

              </div>
            </div>
            <div class="right-box">
              <div class="right-header d-flex justify-content-between">
                <div class="img-top-left d-flex align-items-center m-0 ">
                   <img :src="contacts[counter].avatar" class="rounded-circle ">
                   <div class="ms-2 analist">
                    <span class="name-access">{{contacts[counter].name}}</span>
                    <p class="access">Ultimo accesso ore 24:00</p>
                   </div>
                   
                </div> 
                <div class="nav-item p-3">
                  <i class="fa-brands fa-squarespace fa-lg m-1" style="color: #b0abbf;"></i>
                  <i class="fa-solid fa-magnifying-glass fa-lg m-1" style="color: #b0abbf;"></i>
                  <i class="fa-solid fa-bars fa-lg m-1" style="color: #b0abbf;"></i>
                </div>
              </div>
              <div class="right-main overflow-auto ">
                <div class="container p-5 ">
                  <div v-for="(elem,i) in contacts[counter].messages" class="row">
                    <div :class="elem.status == 'sent' ? 'send col-4 p-3 rounded-4 my-3 offset-8' : 'arrivals col-4 p-3 rounded-4 my-3'">
                      {{elem.message}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-footer d-flex justify-content-around  align-items-center">
                  <div><i class="fa-regular fa-face-smile fa-xl" style="color: #b0abbf;"></i></div>
                  <div class=" send-message">
                    <div>
                      <input @keyup.enter="cpuSend()" v-model="newMessage" type="text" class="right-footer" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="scrivi messaggio">
                    </div>
                  </div>
                  <div><i class="fa-solid fa-microphone fa-xl" style="color: #b0abbf;"></i></div></div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script type="text/javascript" src="javascript/script.js"></script>

  </body>
</html>
